html, body {
  padding: 0;
  margin: 0;
  height:100%;
  width: 100%;
  background: url('../src/space-bg.jpg')no-repeat fixed;
  
}

#header{
  height: 74px;
  width: 100%;
  background: url('../src/background-tile.png');
}

#centered-header{
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
  height: 100%;
}

#logo{
position: relative;
  width: 180px;
  height: 84px;
  font-size: 30px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  float:left;

}

#logo-space{
  position: absolute;
  top:10px;
  left: 0px;
}

#logo-game{
  position: absolute;
  top:40px;
  left: 50px;
  clear: both;
}


#header-menu-left{
  position: relative;
  padding-left: 10px;
  height: 44px;
  color: #fff;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  padding-top: 20px;
  float: left;
}

#header-menu-left ul{
  list-style: none;
  padding-left: 0px;
}

#header-menu-left li{
  float: left;
  padding-left: 0px;
  margin-right: 10px;
}

#header-menu-right{
  float: right;
  color: #fff;
  padding-top: 20px;
}

#header-menu-right .input{
  height: 20px;
  width: 200px;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  background: black;
  border-radius: 5px;
  border-color: #888;
  margin-bottom: 5px;

}

#username{
  padding-left: 5px;
}

#header-menu-right #btnlogin{
  font-size: 12px;
font-family: 'Press Start 2P', cursive;
  color: #fff;
  background: #111;
  width: 90px;
  height: 28px;
  border-radius: 5px;
  border-color: #888;
}

#header-menu-right label{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
font-family: 'Press Start 2P', cursive;

}
